<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Development URL</key>
	<string>http://api.replay.io/</string>
	<key>Staging URL</key>
	<string>http://api.replay.io/</string>
	<key>Production URL</key>
	<string>http://api.replay.io/</string>
	<key>Endpoints</key>
	<dict>
		<key>Events</key>
		<dict>
			<key>Path</key>
			<string>events</string>
			<key>HTTP Method</key>
			<string>POST</string>
			<key>JSON</key>
			<dict>
				<key>data</key>
				<string>data</string>
				<key>replayKey</key>
				<string></string>
				<key>clientId</key>
				<string></string>
				<key>sessionId</key>
				<string></string>
			</dict>
		</dict>
		<key>Alias</key>
		<dict>
			<key>Path</key>
			<string>aliases</string>
			<key>HTTP Method</key>
			<string>POST</string>
			<key>JSON</key>
			<dict>
				<key>alias</key>
				<string>data</string>
				<key>replayKey</key>
				<string></string>
				<key>clientId</key>
				<string></string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
